/*
 * Taken from "Better Hangouts Char" project
 * https://github.com/paveyry/better-hangoutschat
 * Released under MIT license
 */

/* Specify size for thread links */
.threadlink {
    font-size: 8px;
}

/* Reduce left and right margins in the chat area */
.BEjUKc .cFc9ae {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    max-width:none;
}
.Bl2pUd {
    padding-left: 0px;
    padding-right: 0px;
}

/* Reduce height of header bar */
.DWzK6d, .gb_Uf > .gb_g, .gb_Uf, .Jrbdv, .C2Jvlf {
    height: 45px;
}

.HyiAVd, .i5PBGe .GVSFtd {
    margin-top: -5px;
}

/* Chan button in header bar */
.dKv0S .i5PBGe {
    min-height: 12px;
    padding: 4px;
}

/* Reduce whitespace around New conversation button */
.RnpT2b {
    margin: 4px 0 4px 0;
    min-height: 0px;
}
.IEIJqd {
    padding-top: 0;
}

/* Allow messages to display full-width */
.bzJiD .jGyvbd .QIJiHb, .bzJiD .jGyvbd .zX644e {
    max-width: none;
}

/* Reduce top and bottom padding around date */
.mCOR5e {
    padding: 10px 0 0px 0;
}

/* Reduce right margin in sidebar */
.n5yyEc {
    margin-right: 4px;
}

/* Sidebar "recent" or "starred" section names text size */
.aOHsTc {
    font-size: 16px;
    margin-left: 16px;
}

/* Search Menu shape and dimensions */
.yoV6yd {
    margin-top: -4px;
    width: 100%;
    border-radius: 0px;
    -moz-border-radius: 0px
}
/* Search menu size */
.d6pS5.iWO5td .ffyVOd {
    background: none;
}

/* Search Menu "frequent" section text color and size */
.wAR34c {
    font-size: 16px;
}

/* Padding height between messages in a thread */
.nF6pT, .dsoUjb:not(.WQKmIb) .jO0Dzb.nF6pT {
    padding-top: 4px;
}

/* Padding below people's names */
.NGoCob {
    padding-bottom: 0;
}

/* Margins around Unread label */
.YQsadf {
    min-height: 20px;
}

/* Sidebar "recent" or "starred" section title padding height */
.wJNchb, .nFzS9e {
    margin-top: 10px;
}

/* Draw white line between the sidebar sections and reduce padding */
.PL5Wwe + .wJNchb, .teTAFe:not(.fXx9Lc) + .vHL80e .aOHsTc {
    border-top: solid 1px #e0e0e0;
    padding-top: 6px;
}

/* Sidebar channels elements height */
.LoYJxb {
    height: 26px;
}

/* Sidebar channel icons size and right padding */
.SwwApf, .biNtD, .tzwwSb {
    height: 25px !important;
    width: 25px !important;
}
.JwR1Pc, .wR3Nid, .yDIlKc .JwR1Pc, .yDIlKc .wR3Nid, .W0hon .JwR1Pc, .W0hon .wR3Nid {
    padding-left: 5px;
}

/* Sidebar conversation name size */
.t5F5nf, .wR3Nid {
    line-height: 15px;
}
/* Sidebar conversation content preview size */
.RsRwdf {
    line-height: 12px;
    font-size: .67rem;
}

/* Vertically align triple dots buttons on
channels in sidebar with the new height */
.MhXXcc {
    line-height: 26px;
}
.gsrV1e {
    height: 22px;
    width: 22px;
}
.QeRfYe .Lw7GHd {
    margin: 2px 6px 0 6px;
}

/* Big emojis size */
.Zc1Emd.NM3Nfc {
    font-size: 24px;
}

/* Inline emojis size */
img {
    border: none;
    font-size: 1.3em !important;
}

/* Reduce top margin in thread block */
.dsoUjb {
    padding: 8px 0;
}

/* Reduce size of reply button */
.dCMjy {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin-right: 36px;
}

/* Reduce space around blue NEW alert */
.k1lILc {
    padding: 5px 0 0;
}
.k1lILc + .ajCeRb {
    padding-top: 5px;
}

/* Reduce space between thread blocks */
.cZICLc {
    margin-top: 6px;
}

/* Increase boldness of usenames in conversations */
.Z4BnXb {
    font-weight: 900;
}

/* Make code snippets look like slack's */
.FMTudf, .Zc1Emd div {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
    font-size: .75rem;
    margin: 1px 0;
    padding: 3px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Reduce the height of collapsed message row */
.zh742e {
    padding-top: 0;
}
.kZ7cwe {
    border: none;
}

/* Reduce margin around reaction emojis */
.SFMExc, .FIgEvc {
    margin-top: 0;
    margin-bottom: 0;
}

/* Reduce margin around link previews */
.V5MAMb {
    margin-top: 0;
    margin-bottom: 0;
}

/* Reduce size of youtube previews */
.uXftcc, .CXTVff {
    height: 240px;
    background-size: auto 240px;
}
.uXftcc {
    width: 320px;
}

/* Reduce size of youtube videos */
.uXftcc > .gntfhc, .CXTVff > .gntfhc {
    height: 240px;
    width: auto;
}

/* Reduce margin below lowest message in thread */
.jGyvbd > .nF6pT:last-child, .zh742e:last-child {
    padding-bottom: 10px;
}

/* Make inline pre look like slack's */
.U8d2H, .Zc1Emd span:not(.NhKrqd):not(.fWwrkf) {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
    margin: 0px;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Reduce sidebar width */
.X9KLPc, .Riuhhf {
    width: 280px
}

/* Reduce margin above "Starred" label */
.aOHsTc {
    margin-top: 5px;
}

/* Fix emojis dimensions */
.iiJ4W {
    max-height: 1.2em;
    max-width: 1.2em;
    min-width: auto;
}

/* Reduce size of New conv button */
.SfqTBc {
    padding: 4px 18px 4px 12px;
    min-height: 30px;
}

/* Reduce height of link and file previews */
.Pj9rof { /* global block */
    height: 140px;
    width: 500px;
}
.tHcB6b { /* image container */
    height: 100px;
}
.rNTKFb { /* image (for files) */
    height: 100px;
}
.kmatHb { /* text */
    font-size: 12px;
    line-height: 13px;
}
.SXFjfb { /* text container */
    height: 40px;
    padding-top: 3px;
    padding-left: 15px;
}
.VEWZeb { /* icon next to text */
    height: 16px;
    margin-right: 0px;
    margin-top: 2px;
}
.SXFjfb.DoYruc { /* text when there is also a link */
    padding-top: 3px;
}
.rNTKFb.Tvakkc, .tHcB6b .wU0G2b, .rNTKFb.Tvakkc + .bBukm /* image (for links) */ {
    height: 100px !important;
    width: auto !important;
}
/* answer text box size */
.igYHTd, .vmpzOc .PhFuQe .I0LFzc, .EFNTcf, .CfUpN {
    min-height: 38px;
}
.XweIZc {
    padding: 5px 16px;
}

/* Specify color for thread links */
.threadlink {
    color: #fff;
}
/* Global Background color */
.Bl2pUd {
    background-color: #212121;
}
/* Global background color in private messages */
.WQKmIb .Bl2pUd, .WQKmIb .byY7Yb {
    background-color: #2d2d2d;
}
/* Global background color in room preview */
.x7DKme {
    background-color: #212121 !important;
}
/* Global background color in search results */
.pWhTUc {
    background-color: #212121 !important;
}

/* Title in private messages */
.CmMf8e {
    color: #fff;
}
/* Title in channels */
.tCUB4c {
    color: #fff;
}

/* Topbar background color */
.QTQg5e {
    background: #212121;
    border-bottom: 1px solid #6a6a6a;
}
/* Topbar left button text color */
.nk7hB, .wWf0Bc, .nk7hB .cAW0Vc {
    color: #fff;
}
/* Topbar right buttons color */
.Nj8aCb.Nj8aCb {
    color: #fff;
    fill: #fff;
}
/* Notifications active/disabled status button */
.gWTIDe {
    color: rgb(202, 196, 201);
}
/* Thread boxes colors */
.dsoUjb {
    background-color: #2d2d2d;
    border: solid 1px #4a4a4a;
}
.oGsu4 {
    background-color: #2d2d2d;
}
.nF6pT.FwR7Pc .iKCcE, .hu21Y:hover {
    background-color: #3f3f3f;
}
.XbbXmb.zzVqCe .nF6pT, .jGyvbd .jO0Dzb, .dsoUjb .jGyvbd .jO0Dzb {
    background-color: #2d2d2d;
}

/* Thread boxes in pm */
.WQKmIb .dsoUjb {
    background-color: #2d2d2d !important;
    border: solid 1px #2d2d2d !important;

}

/* Thread boxes in search results */
.d4FIEb .ajCeRb .QIJiHb {
    color: #fff !important;
}
/* Room title between threads in search results */
.aVIRye {
    color: #cc7832 !important;
}
/* Load more messages button in search results */
.taQuBe {
    color: #fff;
    background-color: #2d2d2d;
}

/* Topbar members button */
.sNyyib .x1jjEb {
    background-color: #cc7832;
    padding: 0px 8px;
}

/* Topbar in room preview */
.oPqlY {
    background-color: #2d2d2d !important;
}

/* Edit/react/delete buttons on message */
.f8lxbf {
    fill: #fff;
}
.eWw5ab {
    background-color: #2d2d2d;
    border: solid 1px #5f5f5f;
}
.MbhUzd {
    background-color: #cc7832;
}

/* Active thread box */
.cZICLc:hover .dsoUjb {
    border: solid 1px #aa5010;
}

/* "Unread" label */
.Fv5sh {
    color: #cc7832;
}
.z9ucM .heceU {
    fill: #cc7832;
}

/* Jump to bottom button */
.g3VIld .HvOprf, .e3Duub, .w63zXd .NMPajd {
    background-color: #cc7832;
}
.g3VIld .HvOprf:hover, .e3Duub:hover, .w63zXd:hover .NMPajd {
    background-color: #aa5010;
}

/* Collapsed messages button */
.zPVzl {
    background: transparent;
}
.Jqvwfe {
    background-color: #3d3d3d;
    border: solid 1px #6a6a6a;
    color: #cc7832;
}

/* Username color */
.cmEq8b .Zc1Emd, .cmEq8b .Z4BnXb {
    color: #fff;
}

/* Follow button color */
.zxHSSc {
    color: #EEBE67;
    background-color: #2d2d2d;
    border: solid 1px #3f3f3f;
}
.yg4pvb::before {
    background: transparent;
}
.zxHSSc.FuHVqe {
    background-color: rgba(150,30,30,0.300);
}

/* Cancel button when editing a message */
.HQ8yf .RveJvd.RveJvd, .oG5Srb .RveJvd.RveJvd, .KV0KFc .ojqkvd {
    color: #cc7832;
}

/* Borders in message editing */
.cVKqyc {
    border: solid 1px #6a6a6a;
}

/* Answer box background color */
.vmpzOc, .PhFuQe.yXgmRe .dJ9vNe, .dJ9vNe {
    background-color: #2d2d2d;
}
/* Cursor and text input color */
.oAzRtb {
    caret-color: #fff;
    color: #fff;
}
/* Answer box border when active */
.PhFuQe.yXgmRe .dJ9vNe {
    border: solid 2px #5f5f5f;
}
/* Answer box border when inactive */
.dJ9vNe {
    border: solid 1px #4a4a4a;
}
/* Answer box right buttons */
.fKz7Od {
    color: #fff;
    fill: #fff;
}

/* New thread button */
.SfqTBc {
    background-color: #2d2d2d;
}
.aVw1Ob {
    color: #fff;
}
.SfqTBc .jy2fzc {
    color: #cc7832;
}

/* New thread box */
.XganBc {
    background-color: #2d2d2d;
    border: solid 1px #5f5f5f;
}
.p9Cqzd { /* exit cross */
    fill: #fff;
}
.qnCNBb { /* "New thread" label */
    color: #fff;
}
.zFe2Ef:not(.RDPZE) .v6TC2e { /* send button when active */
    fill: #cc7832;
}

/* Join room box in room preview */
.BhQsO {
    color: #fff !important;
}
.CjSwue {
    background-color: #2d2d2d !important;
}
/* Join button */
.W32wZ {
    background-color: #cc7832;
}

/* Text between threads color */
.A2BXPe {
    color: #fff; 
}

/* Sidebar color and border */
.X9KLPc {
    background-color: #2d2d2d;
    border-right: solid 1px #6a6a6a;
}

/* Sidebar elemtents bg color when hovering */
.PL5Wwe:focus:not(.dQ2Tsf),
.PL5Wwe:hover:not(.dQ2Tsf),
.tuKyod .LoYJxb {
    background-color: #3f3f3f;
}

/* Sidebar channel icons */
.SwwApf, .SwwApf.qkl0pe {
    background-color: black;
}

/* Sidebar active channel */
.FS4hgd.iWO5td .ojqkvd, .FS4hgd.iWO5td, .dHI9xe.qs41qe, .dHI9xe.KKjvXb.KKjvXb, .dHI9xe.qs41qe .ojqkvd.ojqkvd, .dHI9xe.KKjvXb.KKjvXb .ojqkvd {
    color: #fff;
}
.FS4hgd.iWO5td.iWO5td, div .dHI9xe.KKjvXb, div .dHI9xe.qs41qe {
    background-color: #cc7832;
}
.PL5Wwe:focus:not(.dQ2Tsf) {
    background-color: #aa5010;
}

/* Sidebar elements text color for chans with unread messages */
.PL5Wwe.H7du2 .t5F5nf {
    color: #fff;
}

/* Channel name color in sidebar */
.t5F5nf {
    color: rgb(202, 196, 201);
}

/* "Unread" jump button in sidebar */
.OpmeVb .GfYBMd, .FTuhNb .RW5Kg {
    fill: #cc7832;
    color: #cc7832;
}

/* Sidebar "recent" or "starred" section names color */
.aOHsTc {
    color: rgb(202, 196, 201);
}

/* Sidebar Search section text color */
.HLTcjb {
    color: rgb(202, 196, 201);
}
.D3DXDc {
    fill: rgb(202, 196, 201) !important;
}

/* Sidebar search button hovering bg color */
.GbZFNe:focus, .GbZFNe:hover {
    background-color: #3f3f3f;
}

/* Sidebar search button shadow */
.d6pS5 {
    box-shadow: 0 5px 5px -2px black;
    padding-bottom: 0;
}

/* Search menu text color */
.Uk0Bfe .zHQkBf, .Uk0Bfe .snByac, .dQ2Tsf .NXfF8b, .dQ2Tsf .ZTmjQb {
    color: #000;
}

.ndJi5d {
    color: rgba(0,0,0,0.38);
}

/* Search menu elements colors when hovering */
.dQ2Tsf[aria-selected="true"], .PL5Wwe:hover > .dQ2Tsf {
    background-color: #eee;
    color: #fff
}

/* Search menu people list mail color */
.dQ2Tsf[aria-selected="true"] .Kfe2Ub, .PL5Wwe:hover > .dQ2Tsf .Kfe2Ub {
    color: #000;
}

/* Top left corner section (with title) background color and border */
.Riuhhf {
    background-color: #212121;
    border-right: solid 1px #6a6a6a;
    border-bottom: solid 1px #6a6a6a;

}

/* Chat top left logo text color */
#XMLID_8_-Clipped{
    opacity: 0.8 !important;
    fill: #fff !important;
}

/* Chat top left logo */
#_x3C_Path_x3E_ {
    fill: #cc7832;
}

/* Top left corner Status button when active */
.RASpke:hover, .RASpke:focus, .RASpke:hover:focus, .RASpke:active, .RASpke.iWO5td.iWO5td {
    background-color: #cc7832;
}

/* Time and menu buttons and clock for channels inactive and active colors */
.sFuxxd {
    color: rgb(202, 196, 201);
}
.PL5Wwe.H7du2 .sFuxxd {
    color: #fff;
}
.DQy0Rb {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.H7du2 .DQy0Rb {
    fill: #fff !important;
}
.QeRfYe {
    fill: rgb(202, 196, 201) !important;
}
.PL5Wwe.H7du2 .QeRfYe {
    fill: #fff !important;
}

/* Code snippets colors */
.FMTudf, .Zc1Emd div {
    border: 1px solid #6a6a6a!important;
    background: #3d3d3d!important;
    color: #fff!important;
}

/* Inline pre colors */
.U8d2H, .Zc1Emd span:not(.NhKrqd):not(.fWwrkf) {
    background-color: #3d3d3d!important;
    color: #cc7832!important;
    border: 1px solid #6a6a6a!important;
}

/* Self Mentions */
.cmEq8b .NhKrqd {
    background-color: #cc7832;
}
/* Others' mentions */
.fWwrkf {
    color: #cc7832;
}

/* People's name before message */
.cmEq8b .Z4BnXb .njhDLd {
    color: white;
    font-weight: 1000;
}

/* Link previews */
.Pj9rof {
    background-color: #2d2d2d;
    border: 1px solid #6a6a6a;
}
.kmatHb, .hlrRUb {
    color: #fff;
    background: transparent;
}
.SXFjfb {
    background-color: #2d2d2d;
    border-top: 1px solid #6a6a6a;
}

/* images */
.KuG0bc {
    border: 1px solid #6a6a6a;
}

/* Message suggestions */
.T9VbLe {
    background-color: #2d2d2d;
    border: 1px solid #6a6a6a;
}
.ubzhQb {
    color: #cc7832;
}

/* Emoji reactions */
.dIC9Jb {
    background-color: #2d2d2d;
    border: 1px solid #6a6a6a;
}
.YK45Id {
    color: #ccc;
}
.dIC9Jb.CwpxMe .j3630e {
    color: #cc7832;
}

div .mUbCce:hover, div .mUbCce:focus, div .mUbCce:active, div .mUbCce.qs41qe, div .mUbCce.u3bW4e, .JRtysb:hover .snByac, .JRtysb:focus .snByac, .JRtysb:active .snByac, .JRtysb.qs41qe .snByac, .JRtysb.u3bW4e .snByac {
    fill: #cc7832;
}

/* browse room and search exit button */
.xTcvqe .fKz7Od, .wbJc4 .fKz7Od {
    color: #000 !important;
    fill: #000 !important;
}

/* Additional CSS (not part of original project) */
.dIC9Jb {
    background-color: transparent !important;
    border-color: #6a6c60 !important;
}

.dIC9Jb:hover {
    background-color: transparent !important;
    border-color: #dadce0 !important;
}
