/*
 * Style taken from https://userstyles.org/styles/166023/dark-chat-google-com
 * Released under CC BY - Creative Commons Attribution by Jiří Kremser
 */

  .XweIZc
  {
    background-color: transparent !important;
  }

  .BScnzc
  {
    margin-left: 17px;
    background-color: transparent !important;
  }

  .EFNTcf
  {
    margin-right: 15px !important;
  }


/* contact cards */
  .Ukpgsf
  {
    background-color: #454545 !important;
    border: 1px solid;
    color: #fff !important;
  }


/* icons on contact cards */
  .X5KVDc.GGZtCb,
.Nj8aCb.Nj8aCb
  {
    fill: #ccc !important;
  }


/* popups for emojis */
  .AZnilc,
.RM9ulf
  {
    -webkit-transition-delay: 0s!important;
    transition-delay: 0s !important;
    background-color: #5e5e5e !important;
    border-radius: 10px !important;
  }

  .f8lxbf
  {
    fill: #ddd !important;
  }

  div .mUbCce:hover,
div .mUbCce:focus,
div .mUbCce:active,
div .mUbCce.qs41qe,
div .mUbCce.u3bW4e,
.JRtysb:hover .snByac,
.JRtysb:focus .snByac,
.JRtysb:active .snByac,
.JRtysb.qs41qe .snByac,
.JRtysb.u3bW4e .snByac
  {
    fill: #fff !important;
  }



/*
.AZnilc, .RM9ulf {
    background-color: #fff !important;
}
*/
  .Ukpgsf *
  {
    background-color: #454545 !important;
  }


/* this can break if they chang the style name, it's there for emoji popup*/
c-wiz.zZ3s4 div {
    background-color: rgba(0, 0, 0, .5) !important;
}

.QQodff > .FvYVyf,
.Bl2pUd,
.IEIJqd,
.A2BXPe,
.nhkdZe,
.cZICLc {
    background-color: #454545 !important;
}

.nHjhsd {
    fill: #fff;
}

.fKz7Od {
    fill: #d5d5d5;
}


.yg4pvb:before {
    background: transparent !important;
}

.Pgm7ld,
.EvLf6c {
    background-color: #444 !important;
}

.dJ9vNe {
    border: solid 1px #838383 !important;
}

.FvYVyf {
    color: #fff !important;
}

.cZICLc {
    margin-top: 0px !important;
    padding-top: 20px !important;
}


div,
span {
    background-color: #373737 !important;
    color: #ccc !important;
}


/* Additional CSS (hacked overrides fixing backgrounds overriden by previous rule) */

.mCOR5e, .A2BXPe div, .A2BXPe span, .RnpT2b, .mTRrYc, .mTRrYc div, .mTRrYc span {
  background: #454545 !important;
}
